
.firstHeading{
    width: 100%;
    height: 25%;
    margin-top: 0px;
    font-size: x-large;
}
.options{
    font-size: 18px;
}
.secondHeading{
    float: none;
    padding: 10px;
    border-radius: 20px;
    color: black;
    border: 5px 5px 5px grey;
}
.btnShow{
    border: 10px 10px 10px grey;
    font-size: 17px;
}
canvas{
    border-radius: 15px;
    border: 5px solid cyan;
}
.footer{
    color: white;
    position: fixed;
    width: 25%;
    bottom: 0px;
    text-align: center;
    padding: 5px;
    font-family: cursive;
    font-size: larger;
    animation: rainbow-bg 2.5s linear;
	animation-iteration-count: infinite;
}
@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}